<footer class="footer">
    <div class="footer-brand">
        <h2><%- vars.appName %></h2>
        <p>Get in touch with us</p>
        <a class="email-btn" target="_blank" href="/l/contact">E-Mail Us</a>
    </div>
    <ul class="footer-nav">
        <li class="footer-nav-item">
            <h3>Connect</h3>
            <ul>
                <li><a class="light" href="/l/support" target="_blank">Discord</a></li>
                <li><a class="light" href="https://gamearoo.top" target="_blank">Gamearoo's Website</a></li>
            </ul>
        </li>
        <li class="footer-nav-item">
            <h3>Us</h3>
            <ul>
                <li><a class="light" href="/projects">Projects</a></li>
                <li><a class="light" href="/bots">Bots</a></li>
                <li><a class="light" href="/l/support" target="_blank">Apply</a></li>
                <li><a class="light" href="/staff">Staff</a></li>
            </ul>
        </li>
        <li class="footer-nav-item">
            <h3>Legal</h3>
            <ul>
                <li><a class="light" href="/privacy">Privacy Policy</a></li>
                <li><a class="light" href="/terms">Terms</a></li>
                <li><a class="light" href="/rules">Rules</a></li>
            </ul>
        </li>
    </ul>
    <div class="footer-legal">
        <div class="footer-legal-right">
            <p>Copyright &copy; <%- vars.copyrightDates %> <%- vars.appName %>. All rights reserved.</p>
        </div>
        <div class="footer-legal-left">
            <p>Website made with <span class="footer-heart">♥</span> remotely from all around the world.</p>
        </div>
    </div>
</footer>